__pycache__
.vscode
.idea
checkpoints
logs
output
.git
*.pt
*.weights
*.pdf
*.png
results.txt
images
datas
weights
*.log
json_generator.py
data
*.json
*.tar
*.jpg
libdarknet_withcuda.so
*.tif
*.JPG
test/

